*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;  
    align-items: center;
    flex-direction: column;
    background: url('img/image\(5\).jpg');
}
h1{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px black;
    letter-spacing: 2px;
}
form {
    width: 84rem;
    display: flex;
    flex-direction: column;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 17px;
}
label{
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
#course{
    width: 10%;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #746767;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}
#year{
    width: 8%;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #746767;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}
input[type="text"] {
    width: 13%;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #746767;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}
input[type="text"]:focus {
    border-color: #4CAF50; 
}
input[type="date"] {
    width: 11.5%;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #141212;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}
#searchbar{
    letter-spacing: 1px;
    border-radius: 6px;
    word-spacing: 15px;
}
input[type="submit"]{
    width: 10%;
    color: white;
    font-size: 17px;
    opacity: .9;
    background: black;
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}
button {
    background: transparent;
    cursor: pointer;
    border: none;
}
.buttonoff{
color: white;
font-size: 16px;
opacity: 15;
background: black;
padding: 10px 16px;
border: none;
outline: none;
border-radius: 4px;
font-weight: bold;
cursor: pointer;
text-decoration: none;
}
table{
    border: 1px solid #050505;
    font-size: 18px;
    color: #050505;
}
th{
    background-color: #c06bf1;
  }
th, td {
    border-bottom: 1px solid #050505;
    width: 100px;
    text-align: center;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: rgb(94, 184, 184);
  }
#formtwo {
    width: 84rem;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    transform: tranlate(-50%,50%);
    opacity: .9;
}
#nocolour {
    background-color: transparent;
    letter-spacing: normal;
    font-size: 18px;
    font-weight: bold;
    color: rgb(92, 26, 2); 
}
#lock{ display:none; }

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) { #lock{ display:block; }

#container{ display:none; }

} @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) { #lock{ display:none; }

#container{ display:block; }

}
